*.o
*Makefile.in
*~
.#*
Makefile
\#*#
ABOUT-NLS
aclocal.m4
autom4te.cache
autoscan.log
autoscan-*.log
build/*.spec
compile
conf/*.inc
conf/*.xml
config.[hls]*
config.guess
config.rpath
configure
configure.scan
debian
depcomp
etc/apt-dater.xml
etc/hosts.xml
install-sh
INSTALL
lib/hosts2xml
missing
mkinstalldirs
m4/
po/*.mo
po/*.in.in
po/*.template
po/Rules-quot
po/*.sed
po/*.header
po/*.sin
po/*.gmo
po/POTFILES
src/.deps
src/adsh
src/apt-dater
stamp-*
